.navbar {
  display: flex;
  /* padding: 2rem; */
  justify-content: space-between;
  height: 10dvh;
  width: 100dvw;
  color: white;
  font-family: mono;
  letter-spacing: 0.1rem;
}
.logo{
  display: flex;
  height: 10dvh;
  width: 10dvw;
  justify-content: center;
  align-items: center;
}
.logo img{
  height: 5vh;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link{
  display: flex;
  height: 10dvh;
  width: 10dvw;
  align-items: center;
  justify-content: center;
}

.link a{
  font-size: 1.5rem;}

@media (max-width: 768px) {
  .navbar{
    justify-content: space-between;
  }

  .logo{
    width: 30%;
  }
  .logo img{
    height: 6dvh;
  }

  .link{
    width: 30dvw;
  }
  .link a{
    font-size: 1.25rem;
  }
}
