.event-details-container {
  display: flex;
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  /* background: linear-gradient(to right, #0f172a, #581c87, #0f172a); */
  color: white;
  z-index: -1;
}

.event-details-content {
  display: flex;
  margin-top: 10dvh;
  height: 90dvh;
  width: 100dvw;
  align-items: center;
  padding: 1.5rem;
  gap: 2rem;
}

.event-details-poster {
  display: flex;
  height: 90%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

.event-details-posterImg {
  height: 100%;
  /* border-radius: 1rem; */
}

.event-details-textcontent {
  display: flex;
  height: 90%;
  width: 100%;
  padding-right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  /* background-color: rgb(129, 129, 129, 0.2); */
}

.event-details-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.event-details-title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 4rem;
  line-height: 4rem;
}

.event-details-description {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: justify;
  font-size: 1.25rem;
  white-space: pre-wrap;
}

.event-details-regdetails {
  display: flex;
  justify-content: space-between;
}

.event-details-date {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  font-size: 1.5rem;
}
.event-details-poc {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.event-details-register {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: right;
}

.event-details-register-button {
  display: flex;
  width: 80%;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ffffff;
  outline: none;
  border: none;
  font-family: Monument;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  /* border-radius: 1rem; */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.event-card-button-ended {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ffffff;
  outline: none;
  border: none;
  font-family: Monument;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.event-details-register-button:hover {
  background-color: yellow;
  color: black;
  scale: 1.01;
}

@media (max-width: 786px){
    .event-details-content{
      flex-direction: column;
      padding: 0;
    }

    .event-details-poster{
      height: 35dvh;
    }

    .event-details-textcontent{
      height: 50dvh;
      padding-right: 0;
      padding: 2dvh;
    }

    .event-details-info{
      gap: 1rem;
    }

    .event-details-title{
      font-size: 2rem;
      line-height: 2rem;
    }

    .event-details-description{
      height: 25dvh;
      font-size: 1rem;
      padding: 1%;
      
    }

    .event-details-description-text{
      height: 100%;
      width: 100%;
      overflow-y: scroll;
    }

    .event-details-regdetails{
      padding: 1dvh;
    }

    .event-details-date{
      font-size: 1rem;
    }

    .event-details-poc{
      font-size: 1rem;
    }

    .event-details-register-button{
      border-radius: 0.5rem;
      width: 35dvw;
      font-size: 1rem;
    }
}