@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Neue;
	src: url(/Fonts/Neue.otf);
}

@font-face {
	font-family: Monument;
	src: url(/Fonts/monument-regular.otf);
}

@font-face {
	font-family: mono;
	src: url(/Fonts/mono.ttf);
}

@font-face {
	font-family: monobold;
	src: url(/Fonts/monobold.ttf);
}

@font-face {
	font-family: monobolditalic;
	src: url(/Fonts/monobolditalic.otf);
}

@font-face {
	font-family: monoitalic;
	src: url(/Fonts/monoitalic.otf);
}

body {
	margin: 0;
	color: black;
	font-family: 'Neue';
	justify-content: center;
	overflow-x: hidden;
}
